<div class="footer-container">
            <ul class="footer-links">
                <li><a href="#">Guitars</a></li>
                <li><a href="#">Basses</a></li>
                <li><a href="#">Used</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>


        <script src="js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    </body>
</html>