@import 'palette';

html {
    overflow-x: hidden;
}

body {
    background-color: $color1;
}

.no-margin {
    margin: 0;
}

.no-padding{ 
    padding: 0;
}

.splitter {
    margin-top: 5px;
    margin-bottom: 5px;
}

#page-wrap {
    background-color: $color3;
    min-height: 500px;
}

.inner-container {
    max-width: 800px;
    margin: auto;
}

.header-container {
    background-image: url(../img/header.jpg);
    padding: 10px 30px;
    h1 {
        margin: 15px;
        color: $color3;
        text-shadow: 2px 2px 2px $color2;
        font-family: 'Anonymous Pro', monospace;
        font-size: 2em;
    }
}

.top-container {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 10;
    box-shadow: 1px 5px 5px $color2;
    .nav-button {
        width: 100%;
        text-align: center;
        color: $color3;
        height: 100%;
        background-color: $color1;
        line-height: 50px;
        color: $color4;
        &:hover {
            cursor: pointer;
            background-color: $color2;
        }
    }
}

.main-nav {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -50px;
    left: -205px;
    list-style: none;
    box-shadow: 2px 2px 2px $color2;
    border-radius: 0 0 10px 0;
    width: 200px;
    z-index: 3;
    &.inPosition {
        left: -40px;
        top: 0;
    }
    li {
        border: 2px solid $color1;
        padding: 0 20px;
        background-color: rgba($color1,0.5);
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 3px solid $color4;
            background-color: rgba($color1,0.7);
            a {
                color: $color4;
                text-decoration: none;
            }
        }
        a {
            display: block;
            color: $color3;
            height: 48px;
            line-height: 48px;
        }
        &:last-child {
            border-radius: 0 0 10px 0;
        }
    }
    .swipe-area {
        width: 100px;
        height: 100%;
        position: absolute;
        right: -75px;
        top: 50px;
    }
}

#page-wrap {
    transition: all 0.3s ease-in-out;
    margin-left: 0;
    position: relative;
    left: 0;
    &.addMargin {
        left: 40px;
    }
}

.form-container {
    margin: 30px auto;
    background-color: $color5;
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px $color2;
    padding: 20px 15px;
    .email-details {
        color: $color3;
        span {
            display: block;
            color: $color4;
            font-size: 1.5em;
            text-align: center;
        }
    }
    .phone-details {
        color: $color3;
        span {
            display: block;
            color: $color4;
            font-size: 1.5em;
            text-align: center;
        }
    }
}

.footer-container {
    background-color: $color2;
    min-height: 30px;
}

//Responsive

@media (max-width: 500px) {
    .top-container {
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .main-nav {
        position: fixed;
        &.inPosition {
            left: 0;
            top: 50px;
        }
    }

    #page-wrap {
        margin-top: 50px;
    }

    h1 {
        text-align: center;
    }

}