.top-container {
    width: 100%;
    height: 50px;
    .nav-button {
        width: 100%;
        text-align: center;
        color: #fff;
        height: 100%;
        background-color: green;
        line-height: 50px;
        &:hover {
            cursor: pointer;
            background-color: yellow;
        }
    }
}

.main-nav {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    left: -200px;
    &.inPosition {
        left: 10px;
    }
}

#main-wrapper {
    transition: all 0.3s ease-in-out;
    margin-left: 0;
    &.addMargin {
        margin-left: 40px;
    }
}