@import 'palette';

.no-margin {
    margin: 0;
}

.no-padding{ 
    padding: 0;
}

.flex-img {
    width: 100%;
}


.top-container {
    width: 100%;
    height: 50px;
    .nav-button {
        width: 100%;
        text-align: center;
        color: $color3;
        height: 100%;
        background-color: $color1;
        line-height: 50px;
        color: $color4;
        &:hover {
            cursor: pointer;
            background-color: $color2;
        }
    }
}

.main-nav {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: -205px;
    list-style: none;
    box-shadow: 2px 2px 2px $color2;
    border-radius: 0 0 10px 0;
    width: 200px;
    &.inPosition {
        left: 0;
    }
    li {
        border: 2px solid $color1;
        padding: 14px 20px;
        background-color: rgba($color1,0.5);
        &:hover {
            border: 3px solid $color4;
        }
        a {
            color: $color3;
        }
        &:last-child {
            border-radius: 0 0 10px 0;
        }
    }
    .swipe-area {
        width: 100px;
        height: 100%;
        position: absolute;
        right: -50px;
        top: 0;
    }
}

.swipe-area {
    width: 100%;
    height: 30px;
}

#main-wrapper {
    transition: all 0.3s ease-in-out;
    margin-left: 0;
    &.addMargin {
        margin-left: 40px;
    }
}