/* Coolors Exported Palette - coolors.co/012622-003b36-ece5f0-e98a15-59114d */

/* RGB */
$color1: rgba(1, 38, 34, 1);
$color2: rgba(0, 59, 54, 1);
$color3: rgba(236, 229, 240, 1);
$color4: rgba(233, 138, 21, 1);
$color5: rgba(89, 17, 77, 1);

//#012622 -- dark green
//#003b36 -- rich black
//#ece5f0 -- lavender mist
//#e98a15 -- carrot orange
//#59114d -- pansey purple